@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamLight.ttf") format("truetype");
} 

:root{
  --color-primario: #BA4A00;
  --color-secundario: #641E16;
}


/*Body*/

body {
  font-family: Gotham, sans-serif;
  margin: 0;
  color: var(--color-primario);
  background-image: url('img/background.jpg');
  background-size: cover; /* Escalar la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evitar que se repita la imagen */

}

h1 {
  text-align: center;
  font-size: xx-large;
}









/*Principal*/
label{
  font-size: 20px;
}
input[type="text"]{
  background-color: #1E1E1E;
  border: var(--color-primario) solid 2px;
  border-radius: 5px;
  padding: 5px;
  color: #ccc;
  margin: 10px;
  font-size: 15px;
}
input[type="email"]{
  background-color: #1E1E1E;
  border: var(--color-primario) solid 2px;
  border-radius: 5px;
  padding: 5px;
  color: #ccc;
  margin: 10px;
  font-size: 15px;
}
input[type="password"]{
  background-color: #1E1E1E;
  border: var(--color-primario) solid 2px;
  border-radius: 5px;
  color: #ccc;
  padding: 5px;
  margin: 10px;
  font-size: 15px;
}

input[type="submit"]{
  background-color: #1E1E1E;
  border: var(--color-primario) solid 2px;
  border-radius: 5px;
  color: #ccc;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
}

input[type="submit"]:hover{
 background-color: #BA4A00;
 color: #000;
}

.formulario a{
  padding: 7px;
  color: var(--color-primario);
}

.formulario a:hover {
  background-color: var(--color-primario);
  color: #ccc;
}

.formulario{
  width: 400px;
  margin-left: 35%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  align-items: center;
  margin-top: 10%; 
  border-radius: 10px;

  
}

.formulario h2{   
  font-size: 40px;
  padding: 35px;
}

