:root{
  --color-primario: #BA4A00;
  --color-secundario: #641E16;
}

@font-face {
    font-family: "Gotham";
    src: url("/fonts/GothamLight.ttf") format("truetype");
  } 
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    border-bottom: #1E1E1E;
  }

  .grid-item{
    background-color: #641E1680;
    padding: 5px;
  }

  .my-button{
    width: 25px;
    height: 25px;
    display: flexbox;
    gap: 10px 10px;
    padding: 10px 20px;
    background-color: #1E1E1E;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #ccc;
    transition: background-color 0.5s ease, width 0.5s, height 0.5s;
    font-size: large;
    text-align: center;

  }
  .my-button:hover{
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
    animation-name: myButton;
    animation-duration: 2s;
    animation-direction: reverse;
  }
  
@keyframes myButton{
  0%{background-color: #1E1E1E;}
  50%{background-color: var(--color-primario);}
  100%{background-color: var(--color-secundario);}
}

  .botonAtras{
    display: inline-flex;
    width: auto;
    height: 25px;
    align-items: normal;
    padding: 10px 20px;
    font-size: large;
    text-align: center;
    background-color: #1E1E1E;
    color: var(--color-primario);
    border-radius: 10px;
    border: 2px solid #641E16;
    cursor: pointer;
    transition: background-color 1s, width 1s, height 1s;
  }
    .botonAtras:hover{
    width: auto;
    height: 50px;
    background-color:black;
    color: white;
  }

  .tallas {
    display: flexbox;
    gap: 1rem;
}
.talla {
    padding: 10px 20px;
    background-color: #1E1E1E;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #ccc;
}

  .botonCarro{
    margin-top: 20px;
    display: flexbox;
    gap: 10px 10px;
    padding: 10px 20px;
    background-color: #1E1E1E;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #ccc;
    
  }
  .botonCarro:hover{
    background-color:var(--color-primario);
    color: white;
    text-decoration: none;
  }

  .carrito{
    background-color: transparent;
    border: none;
    stroke: #000;
    cursor: pointer;
    padding: 10px;
    display: flex;

    
  }

  .circulo{
    width: 25px;
    height: 25px;
    background-color: var(--color-primario);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: 22px;
    top: 97px;
    align-items: flex-start;
  }

  .circuloProducto{
    width: 25px;
    height: 25px;
    background-color: var(--color-primario);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    right: 22px;
    top: 21px;
    align-items: flex-start;
  }


  .carritoProducto{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }

  .carritoIndex{
    background-color:  transparent;
    display: flex;
    justify-content: flex-end;
    stroke: #000;
  }

  body {
    font-family: Gotham, sans-serif;
    margin: 0;
    padding: 1rem;
    color: var(--color-primario);
    background-image: url('background.jpg');
    background-size: cover; /* Escalar la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
  
  }
  
  h1 {
    text-align: center;
    font-size: xx-large;
  }
  
  .producto {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
  }
  
  .producto img {
    width: 170px;
    margin-right: 20px;
    transition: height 1s, width 1s;
  }
  .producto img:hover{
    width: 250px;
    height: auto;
  }
  
  .producto h2 {
    font-size: x-large;
    text-align: left;
  }
  .p{
    font-size: large;
    text-align: left;
  }

  body{
    background-color: #1E1E1E ;
  }
  footer{
      margin-top: 12rem;
      align-items: flex-end;
      background-color: #30303090;
      font-family: Gotham;
      text-align: center;
      font-size: x-large;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  a{
      color: #ccc;
      text-decoration: none;
  }
  a:hover{
      background-color: #641E16;
      text-decoration: underline;
  }