:root{
    --color-primario: #BA4A00;
    --color-secundario: #641E16;
    --color-terceario: #1C2833;
    --color-cuarteario: #6E2C00;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.imgrage{
    width: 150px;
    height: 150px;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    padding-top: 80px;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: var(--color-terceario);
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
    filter: invert(15%);
}           
.scroll h1{
    color: var(--color-cuarteario);
}
.carrito{
    filter: invert(100%);
    width: 35px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--color-terceario);
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: var(--color-cuarteario);
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #263143;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: var(--color-primario);
    border-color: var(--color-primario)
}


/*Footer*/
footer{
    margin-top: 12rem;
    align-items: flex-end;
    background-color: var(--color-terceario);
    font-family: monospace;
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}
a{
    color: var(--color-cuarteario);
    text-decoration: none;
}
a:hover{
    background-color: var(--color-primario);
    text-decoration: underline;
}